* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* shared class / i'd */

.gradient {
  background: linear-gradient(to right, #f7e93f, #fb09b4, #9100f8);
}
.text-gradient {
  background: linear-gradient(to right, #f7e93f, #fb09b4, #9100f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* navbar style  */
.nav-container {
  padding-right: 200px;
  padding-left: 200px;
  /* border: 2px solid tomato; */
  background-color: #1a0b2e;
}
.nav-content {
  /* border: 2px solid black; */
  /* height: 92px; */
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-logo {
  font-size: 35px;
  font-weight: bolder;
  color: white;
}
.nav-ul {
  list-style: none;
  display: flex;
  gap: 40px;
}
.nav-li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
}
.btn-primary {
  padding: 12px 16px;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn-primary img {
  width: 16px;
  height: 16px;
}

/* hero section  */
.hero-container {
  /* border: 2px solid blue; */
  width: 100%;
  height: 660px;
  background-image: url("./assets/hero-bg.png");
  background-size: cover;
  background-position: center;
}
.hero-content {
  /* border: 2px solid green; */
  /* width: 550px;
  height: 558x; */
  /* padding: 101px 525px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.circle-box {
  /* margin: 101px 525px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
/* .circle-point {
} */
.img-one {
  height: 350px;
  width: 350px;
  position: relative;
}

.img-two {
  /* size: 230px; */
  position: absolute;
  /* top: 50%; */

  left: 45.5%;
  top: 14.5%;
}

.hero-text {
  color: white;
  margin-top: 40px;
}
.hero-text > h3 {
  font-size: 65px;
  font-weight: bolder;
}
.hero-text > p {
  font-size: 18px;
  font-weight: 200;
  margin-top: 24px;
}

.hero-btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.hero-btn-one {
  width: 200px;
  height: 45px;
  padding: 12px 20px;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.hero-btn-two {
  width: 147px;
  height: 45px;
  padding: 12px 20px;
  color: #00ff88;
  background-color: #1a0b2e;
  border-radius: 30px;
  border: 2px solid #00ff88;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
