* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* shared class / i'd */

.gradient {
  background: linear-gradient(to right, #f7e93f, #fb09b4, #9100f8);
}
.text-gradient {
  background: linear-gradient(to right, #f7e93f, #fb09b4, #9100f8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* navbar style  */
.nav-container {
  padding-right: 200px;
  padding-left: 200px;
  /* border: 2px solid tomato; */
  background-color: #1a0b2e;
}
.nav-content {
  /* border: 2px solid black; */
  /* height: 92px; */
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-logo {
  font-size: 35px;
  font-weight: bolder;
  color: white;
}
.nav-ul {
  list-style: none;
  display: flex;
  gap: 40px;
}
.nav-li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
}
.btn-primary {
  padding: 12px 16px;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn-primary img {
  width: 16px;
  height: 16px;
}
.hamburg {
  display: none;
}

/* hero section  */
.hero-container {
  /* border: 2px solid blue; */
  width: 100%;
  height: 660px;
  background-image: url("./assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  /* padding-top: 5 0px; */
}
.hero-2 {
  /* border: 2px solid blue; */
  width: 100%;
  height: 24px;
  background-image: url("./assets/herobg2.png");
  background-size: cover;
  background-position: center;
  /* padding-top: 5 0px; */
}
.hero-content {
  /* border: 2px solid green; */
  /* width: 550px;
  height: 558x; */
  /* padding: 101px 525px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.circle-box {
  /* margin: 101px 525px; */
  /* border: 2px solid green; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.circle-point {
  /* border: 2px solid green; */
  position: relative;
}

.circle-badge {
  /* border: 2px solid tomato;   */
  background-color: #00ff88;
  position: absolute;
  width: 75px;
  height: 38px;
  padding: 8px 16px;
  margin-left: 370px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  /* box-shadow: #000000; */
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.circle-badge p {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 16px;
}
/* .img-one {
  height: 350px; 
   width: 350px;
} */

.img-two {
  /* size: 230px; */
  position: absolute;
  /* top: 50%; */
  left: 14.3rem;
  top: 5.1rem;
}

.hero-text {
  color: white;
  margin-top: 40px;
}
.hero-text > h3 {
  font-size: 65px;
  font-weight: bolder;
}
.hero-text > p {
  font-size: 18px;
  font-weight: 200;
  margin-top: 24px;
}

.hero-btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.hero-btn-one {
  width: 200px;
  height: 45px;
  padding: 12px 20px;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.hero-btn-two {
  width: 147px;
  height: 45px;
  padding: 12px 20px;
  color: #00ff88;
  background-color: #1a0b2e;
  border-radius: 30px;
  border: 2px solid #00ff88;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

/* banner section  */
.about-content {
  background-color: #1a0b2e;
  height: 646px;
  width: 100%;

  padding: 50px 200px 120px;
}

.about-section {
  color: white;
  /* border: 1px solid tomato; */
  text-align: center;
}

.about-section > h3 {
  font-size: 48px;
  font-weight: bold;
  margin-top: 20px;
}

.about-section > p {
  font-size: 16px;
  font-weight: 200;
  margin-top: 20px;
}

.rank-section {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

.rank-section h3 {
  color: #00ff88;
  font-size: 50px;
  font-weight: bolder;
}

.rank-section p {
  color: white;
  font-size: 16px;
  font-weight: 200;
}

/* choose section style / */
.choose-container {
  background-color: #230e3d;
  width: 100%;
  height: 1250px;

  padding-bottom: 40px;
  /* border: 3px solid tomato; */
}
.choose-content h3 {
  color: white;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 40px;
}
.choose-card-section {
  /* border: 2px solid turquoise; */
  padding: 200px;
  padding-top: 40px;

  margin-bottom: 100px;
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
  grid-template-areas:
    "box-1  box-2  box-2"
    "box-1  box-3  box-3"
    "box-4  box-4  box-5";
}

.card {
  background-color: #35116560;

  padding: 40px;
  border-radius: 20px;
}
#card-1 {
  padding-top: 100px;
}
.card h4 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}
.card p {
  color: #ffffff60;
  font-size: 16px;
  font-weight: 100px;
  line-height: 24px;
}

/* featured section style  */

.featured-container {
  background-color: #1a0b2e;
  /* border: 2px solid tomato; */
  height: 1300px;
  padding: 120px 200px;
  /* padding-bottom: 120px; */
}

.featured-heading {
  color: white;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 50px;
  /* border: 3px solid aliceblue; */
}

.featured-box {
  /* border: 3px solid red; */
  background-color: #250d44;
  width: 380px;
  height: 470px;
  border-radius: 20px;

  /* visibility: hidden; */

  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
}

.featured-card-description {
  color: white;
  padding-top: 20px;
}

.featured-card-description h5 {
  /* border: 1px solid aquamarine; */
  font-size: 24px;
  font-weight: bold;

  padding: 24px 24px 12px 24px;
}

.featured-card-description p {
  color: #ffffff60;
  font-size: 16px;
  line-height: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
}

.featured-footer {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}

.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.featured-footer p {
  color: #00ff88;
  font-size: 16px;
  font-weight: 700;
  margin-top: 7px;
}

/* host section  */
.host-content {
  /* border: 1px solid lightsalmon; */
  height: 380px;
  margin-top: 80px;
}
.host-heading {
  color: white;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 35px;
}
.host-img {
  margin-top: 60px;
  margin-left: 60px;
  margin-bottom: 55px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.host-story {
  /* border: 1px solid red; */
  background-color: #250d44;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
}
.host-speak {
  /* display: flex;
  justify-content: center; */

  margin-top: 70px;
  margin-left: 50px;
}

.host-speak h4 {
  color: white;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
}
.host-speak p {
  color: #ffffff60;
  margin-bottom: 16px;
}

.host-link {
  padding-left: 48px;
  size: 40px;
  display: flex;
  flex-direction: row;

  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}
.hst-img {
  background-color: #1a0b2e;
  width: 40px;
  height: 40px;
  border: 1px solid #533c72;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* footer style  */

footer {
  background-image: url(./assets/footer-bg.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  /* height: 412px; */
  /* margin-top:; */
}
.footer-container {
  padding: 120px;
  /* border: 1px solid tomato; */
}
.footer-logo {
  font-size: 42px;
  font-weight: bolder;
  text-align: center;
}
.footer-link {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 32px;
}
.footer-img {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}

.footer-img p {
  color: #ffffff60;
  font-size: 16px;
  font-weight: 200;
}
.copyright-content {
  font-size: 16px;
  font-weight: 200;
  text-align: center;
  margin-top: 32px;
  color: #ffffff60;
}
.hr-rank {
  /* height: 50%; */
  border: 0.1px solid rgba(128, 128, 128, 0.459);
  margin-top: 60px;
  /* height: 5px; */
  width: 100%;
  /* color: #400c75; */
}

.new-host {
  /* border: 2px solid tomato; */
  padding-right: 30px;
}

/* --------------------------------- */
/* MEDIA QUERY SMALL DEVICE (MOBILE-DEVICE)  */

@media screen and (max-width: 576px) {
  .nav-ul,
  .btn {
    display: none;
    /* visibility: hidden; */
  }
  .hero-2 {
    display: none;
  }

  .navbar {
    max-width: 576px;
  }
  .hamburg {
    display: block;
    /* margin-left: 7.5rem; */
    /* padding-left: 100px; */
  }
  .nav-logo {
    /* font-size: 32px; */
    margin-right: 16.5rem;
    margin-left: -11rem;
  }

  .new-navbar {
    display: flex;
    /* justify-items: center; */
    justify-content: space-between;
    align-items: center;
  }
  .hero-text > h3 {
    font-size: 2.7rem;
  }
  .about-content {
    background-color: #1a0b2e;
    height: 646px;
    width: 100%;
    padding: 50px 20px 20px;
  }
  .circle-box {
    height: 470px;
    padding-top: 280px;
    padding-bottom: 150px;
  }

  .about-content {
    height: 646px;
    width: 100%;
    padding: 50px 20px 20px;
  }
  .rank-section {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 100px;
  }

  .choose-content h3 {
    font-size: 32px;
    padding-top: 40px;
    padding-bottom: 26px;
  }
  .choose-card-section {
    /* border: 2px solid turquoise; */

    height: 1450px;
    padding: 18px;
    padding-top: 5px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 30px;
    grid-template-areas:
      "box-1 box-1 box-1"
      "box-2 box-2 box-2"
      "box-3 box-3 box-3"
      "box-4 box-4 box-4"
      "box-5 box-5 box-5";
  }

  .choose-container {
    height: 1695px;
    padding-bottom: 40px;
    /* border: 3px solid tomato; */
  }
  .card > h4 {
    font-size: 22px;
  }
  #card-1 {
    padding-top: 30px;
  }

  .featured-container {
    height: 2360px;
    padding: 18px;
  }
  .featured-heading {
    font-size: 32px;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .featured-box {
    width: 460px;
  }
  .ifreme {
    width: 460px;
  }
  .flex-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  .featured-card-description h5 {
    font-size: 20px;
  }

  .host-heading h2 {
    font-size: 50px;
  }
  .new-host {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .host-story {
    /* border: 2px solid tomato; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
  }
  .host-img {
    margin-left: 0;
  }
  .host-speak {
    text-align: center;
    margin-top: -14px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .circle-point {
    /* border: 1px solid tomato; */
    padding-top: 80px;
    /* width: 10px; */
  }
  .img-two {
    padding-top: 70px;
  }

  .footer-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
  }
  .copyright-content {
    font-size: 15px;
  }
}
