* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* shared class / i'd */

.gradient {
  background: linear-gradient(to right, #f7e93f, #fb09b4, #9100f8);
}
.text-gradient {
  background: linear-gradient(to right, #f7e93f, #fb09b4, #9100f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* navbar style  */
.nav-container {
  padding-right: 200px;
  padding-left: 200px;
  /* border: 2px solid tomato; */
  background-color: #1a0b2e;
}
.nav-content {
  /* border: 2px solid black; */
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-logo {
  font-size: 35px;
  font-weight: bolder;
  color: white;
}
.nav-ul {
  list-style: none;
  display: flex;
  gap: 40px;
}
.nav-li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
}
.btn-primary {
  padding: 12px 16px;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn-primary img {
  width: 16px;
  height: 16px;
}
